header{
    padding-top: 30px;
    height: 600px;
    background: url(../img/style\ element\ 2.svg);
    background-size: 100%;
    background-color: #d4d3e4;
    
}
.header li{
    text-decoration: none;
    list-style: none;
}
.header h1{
    margin-right:80px;
}
.header a{
    color: black;
}

.contenedor{
    margin-top: 10px;
    width: 100px;
    display: flex;
}
.contenedor button{
    padding: auto;
    cursor: none;
    width: 250px;

}
.btn-outline-danger {
    /* color: #dc3545; */
    border-color: #9a41c7;
    color: black;
    width: 150px;
    height: 30px;
    border: 2%;
    margin-top: 5px;
    margin-right: 15px;
}
.contenedor1 a{
    color: blue;
    margin-right: 12px;
}
.contenedor2 a{
    color: rgb(99, 207, 243);
    margin-right: 12px;
}
.contenedor3 a{
    color: red;
    margin-right: 12px;
}
.contenedor4 a{
    color: red;
    margin-right: 12px;
}

main{
    height: 1200px;
    
}
.bac{
    background-image: url(../img/Vector\ Smart\ Object.svg) ;
    background-position: 85% 0%;
    background-size: 500px 500px;
    background-repeat: no-repeat;
    height: 100vh;
    padding-right: 950px;
    margin-top: 20px;
    margin-left: 190px;
}
.bac h1{
    padding-right: 50px;
}
.bac p{
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-primary {
    color: #fff;
    background-color: #dd47e6;
    border-color: #dd47e6;
}
.bac2{
    background-image: url(../img/Vector\ Smart\ Object.svg) ;
    background-position: 85% 0%;
    background-size: 500px 500px;
    background-repeat: no-repeat;
    height: 100vh;
    padding-right: 800px;
    margin-top: 20px;
    margin-left: 190px;
}
.bac2 h1{
    padding-right: 50px;
}
.bac2 p{
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-primary {
    color: #fff;
    background-color: #dd47e6;
    border-color: #dd47e6;
    margin-top: 10px;
}

.bac3{
    background-image: url(../img/Vector\ Smart\ Object.svg) ;
    background-position: 85% 0%;
    background-size: 500px 500px;
    background-repeat: no-repeat;
    height: 100vh;
    padding-right: 800px;
    margin-top: 20px;
    margin-left: 190px;
}
.bac3 h1{
    padding-right: 50px;
}
.bac3 p{
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn-primary {
    color: #fff;
    background-color: #dd47e6;
    border-color: #dd47e6;
    margin-top: 10px;
}
.work{
    margin-top: 0px;       
}

footer{
    height: 100%;
}
footer a{
    text-decoration: none;
}
footer i{
    margin-right: 15px;
}
footer h2{
    margin: 0;
}
footer input{
    width: 10px;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-right: 6px;
}
.nabegador{
    margin-bottom: 200px;
}
.follow h6{
    margin-right: 10px;
    width: 45%;
    margin-top: 10px;
}
.derechos p{
    margin-left: 500px;
    width: 300px;
    height: auto;
}